openapi: 3.1.0
info:
  title: SportsGameOdds Account Markets API
  description: SportsGameOdds API provides real-time sports betting odds data from 80+ sportsbooks across 50+ leagues including NFL, NBA, MLB, NHL, NCAAF, NCAAB, EPL, UCL, UFC, PGA, and ATP. The API delivers live and pre-match odds across 3,000+ markets including moneylines, spreads, over/unders, team props, and player props, with official SDKs for JavaScript/TypeScript and Python.
  version: '1.0'
  contact:
    url: https://sportsgameodds.com/
  termsOfService: https://sportsgameodds.com/terms
servers:
- url: https://api.sportsgameodds.com/v1
  description: Production server
security:
- apiKeyHeader: []
tags:
- name: Markets
paths:
  /markets/:
    get:
      operationId: listMarkets
      summary: List Markets
      description: Retrieve all supported betting market types including moneylines, spreads, totals, and props.
      tags:
      - Markets
      parameters:
      - name: sport
        in: query
        required: false
        description: Filter markets by sport
        schema:
          type: string
      - name: betType
        in: query
        required: false
        description: Filter by bet type
        schema:
          type: string
          enum:
          - moneyline
          - spread
          - total
          - prop
      responses:
        '200':
          description: List of markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
components:
  schemas:
    Market:
      type: object
      properties:
        marketId:
          type: string
        name:
          type: string
        description:
          type: string
        betType:
          type: string
          enum:
          - moneyline
          - spread
          - total
          - prop
        sports:
          type: array
          items:
            type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
