openapi: 3.1.0
info:
  title: SportsGameOdds Account Leagues API
  description: SportsGameOdds API provides real-time sports betting odds data from 80+ sportsbooks across 50+ leagues including NFL, NBA, MLB, NHL, NCAAF, NCAAB, EPL, UCL, UFC, PGA, and ATP. The API delivers live and pre-match odds across 3,000+ markets including moneylines, spreads, over/unders, team props, and player props, with official SDKs for JavaScript/TypeScript and Python.
  version: '1.0'
  contact:
    url: https://sportsgameodds.com/
  termsOfService: https://sportsgameodds.com/terms
servers:
- url: https://api.sportsgameodds.com/v1
  description: Production server
security:
- apiKeyHeader: []
tags:
- name: Leagues
paths:
  /leagues/:
    get:
      operationId: listLeagues
      summary: List Leagues
      description: Retrieve all supported leagues with optional sport filter.
      tags:
      - Leagues
      parameters:
      - name: sport
        in: query
        required: false
        description: Filter by sport
        schema:
          type: string
      responses:
        '200':
          description: List of leagues
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/League'
components:
  schemas:
    League:
      type: object
      properties:
        leagueId:
          type: string
        name:
          type: string
        sport:
          type: string
        country:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
