openapi: 3.1.0
info:
  title: SportsGameOdds Account Stats API
  description: SportsGameOdds API provides real-time sports betting odds data from 80+ sportsbooks across 50+ leagues including NFL, NBA, MLB, NHL, NCAAF, NCAAB, EPL, UCL, UFC, PGA, and ATP. The API delivers live and pre-match odds across 3,000+ markets including moneylines, spreads, over/unders, team props, and player props, with official SDKs for JavaScript/TypeScript and Python.
  version: '1.0'
  contact:
    url: https://sportsgameodds.com/
  termsOfService: https://sportsgameodds.com/terms
servers:
- url: https://api.sportsgameodds.com/v1
  description: Production server
security:
- apiKeyHeader: []
tags:
- name: Stats
paths:
  /stats/:
    get:
      operationId: listStats
      summary: List Stats
      description: Retrieve statistical data for events with optional filters.
      tags:
      - Stats
      parameters:
      - name: eventId
        in: query
        required: false
        description: Filter by event ID
        schema:
          type: string
      - name: sport
        in: query
        required: false
        description: Filter by sport
        schema:
          type: string
      - name: league
        in: query
        required: false
        description: Filter by league
        schema:
          type: string
      responses:
        '200':
          description: Statistical data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
components:
  schemas:
    Stats:
      type: object
      properties:
        eventId:
          type: string
        sport:
          type: string
        period:
          type: string
        homeScore:
          type: integer
        awayScore:
          type: integer
        homeStats:
          type: object
          additionalProperties: true
        awayStats:
          type: object
          additionalProperties: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
