openapi: 3.1.0
info:
  title: SportsGameOdds Account Players API
  description: SportsGameOdds API provides real-time sports betting odds data from 80+ sportsbooks across 50+ leagues including NFL, NBA, MLB, NHL, NCAAF, NCAAB, EPL, UCL, UFC, PGA, and ATP. The API delivers live and pre-match odds across 3,000+ markets including moneylines, spreads, over/unders, team props, and player props, with official SDKs for JavaScript/TypeScript and Python.
  version: '1.0'
  contact:
    url: https://sportsgameodds.com/
  termsOfService: https://sportsgameodds.com/terms
servers:
- url: https://api.sportsgameodds.com/v1
  description: Production server
security:
- apiKeyHeader: []
tags:
- name: Players
paths:
  /players/:
    get:
      operationId: listPlayers
      summary: List Players
      description: Retrieve a list of players with optional filters for team, sport, and league.
      tags:
      - Players
      parameters:
      - name: teamId
        in: query
        required: false
        description: Filter by team ID
        schema:
          type: string
      - name: sport
        in: query
        required: false
        description: Filter by sport
        schema:
          type: string
      - name: league
        in: query
        required: false
        description: Filter by league
        schema:
          type: string
      responses:
        '200':
          description: List of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Player'
  /players/{playerId}:
    get:
      operationId: getPlayer
      summary: Get Player
      description: Retrieve a specific player by their ID including props odds and statistics.
      tags:
      - Players
      parameters:
      - name: playerId
        in: path
        required: true
        description: Unique player identifier
        schema:
          type: string
      responses:
        '200':
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        '404':
          description: Player not found
components:
  schemas:
    Player:
      type: object
      properties:
        playerId:
          type: string
        name:
          type: string
        team:
          type: string
        position:
          type: string
        league:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
